body {
  font-family: 'Roboto', sans-serif;
}

.c-item {
  height: 570px;
}

.c-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#popular-movies-carousel {
  padding: 0px 0;
}

#popular-movies-carousel .owl-item img {
  height: 180px;
  object-fit: cover;
  width: 100%;
}

.c-movie-card-text{
  color: white;
  font-weight: bold;
  position: absolute;
  
}